*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    align-items: center;    
    justify-content: center;
}

#grand-parent{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    background-color: orange;
    display: flex;
    align-items: center;    
    justify-content: center;
    cursor: pointer;
}

#parent{
    width: 350px;
    height: 350px;
    border: 2px solid black;
    background-color: springgreen;
    display: flex;
    align-items: center;    
    justify-content: center;
}

#child{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: lightpink;
    display: flex;
    align-items: center;    
    justify-content: center;
    font-size: 40px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}


