*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 1200px;
    height: 600px;
    border: 2px solid black;
    background-color: wheat;
}

#container .card{
    width: 200px;
    height: 200px;
    font-size: 35px;
    text-align: center;
    display: inline-block;
}

#container .c1{
    background-color: violet;
}

#container .c2{
    background-color: springgreen;
    /* display: none; */
    visibility: hidden;
    /* opacity: 0; */
}

#container .c3{
    background-color: tomato;
}